{{/* Used for the Software section in the homepage */}}
{{/* If some content is missing/not displayed, check the images for the software */}}


{{ if .Site.Data.homepage.software.enable }}
<section id="software" class="section section--border-bottom">
  <div class="container software-container">
    <h2 class="rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.software.title }}
    </h2>
    {{ if .Site.Data.homepage.software.description }}
    <p class="lead text-center rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.software.description | safeHTML }}
    </p>
    {{ end }}
    {{/* Software Projects */}}
    {{ $software := (where .Site.RegularPages.ByDate.Reverse "Type" "software") }}          
    {{ range $index, $element := $software }}
    {{ $is_even := eq (mod $index 2) 0 }}
    {{ with $element }}
    <div
      class="row row--padded rad-animation-group rad-fade-down 
      {{ if $is_even }}flex-column-reverse flex-md-row even-row{{ else }}uneven-row{{ end }}"
    >
      {{ if $is_even }}
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto even">
        <h3>{{ .Params.title }}</h3>
        <p class="lead">
          {{ .Page.Content }}
        </p>

        {{ range .Params.buttons }}
        <a href="{{ .URL | absURL }}" target="_blank"  class="btn btn-primary">
          {{ .btnText }} &nbsp; <i class="{{ .icon }}"></i>
        </a>
        {{ end }}

      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">

        {{ $img := resources.Get .Params.image.x }}
        {{ $img2x := resources.Get .Params.image._2x }}
        {{ with $img }}
        {{ with $img2x}}
        {{ $imgWebp := $img.Resize (printf "%dx%d webp q75 Lanczos picture" $img.Width $img.Height) }}
        {{ $img2xWebp := $img2x.Resize (printf "%dx%d webp q75 Lanczos picture" $img2x.Width $img2x.Height) }}
        <picture class="picture-works even">
          <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
          <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
          <img
            class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            data-src="{{ $img.RelPermalink }}"
            data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            alt="{{ .Params.title }}"
          />
        </picture>
        {{ end }}
        {{ end }}

      </div>
      {{ else }}
      <div class="col-12 col-md-7 pl-md-0 text-right not-even">
        {{ $img := resources.Get .Params.image.x }}
        {{ $img2x := resources.Get .Params.image._2x }}
        {{ with $img }}
        {{ with $img2x}}
        {{ $imgWebp := $img.Resize (printf "%dx%d webp q75 Lanczos picture" $img.Width $img.Height) }}
        {{ $img2xWebp := $img2x.Resize (printf "%dx%d webp q75 Lanczos picture" $img2x.Width $img2x.Height) }}
        <picture class="picture-works odd">
          <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
          <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
          <img
            class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            data-src="{{ $img.RelPermalink }}"
            data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
            alt="{{ .Params.title }}"
          />
        </picture>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .Params.title }}</h3>
        <p class="lead">
          {{ .Page.Content }}
        </p>

        {{ range .Params.buttons }}
        <a href="{{ .URL | absURL }}" target="_blank"  class="btn btn-primary">
          {{ .btnText }} &nbsp; <i class="{{ .icon }}"></i>
        </a>
        {{ end }}

      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
