{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div>
</div>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <p class="archive__item-excerpt" itemprop="description">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <div class="container" style="width: 35%; display: inline-block;">
          {{ post.excerpt }}<div class="overlay"></div></div></a>
        <div style="display: inline-block; padding-left:30px; vertical-align:top; margin-top:0px">
        <h2 style="vertical-align:top">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        </h2>
          {% if post.status %}<i class="page__meta" style="display:inline-block; padding-left:-100px"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.status }}</i>
          {% else %}<i class="page__meta" style="display:inline-block; padding-left:-100px"><i class="fa fa-clock-o" aria-hidden="true"></i> Ongoing </i>
          {% endif %}
          <h6>
          {% if post.article %}
          <i><button class="btn--research" onclick="window.open('{{ post.article }}','_blank');">Article</button></i>
          {%elsif post.pdf and post.preprint %}
          <i><button class="btn--research" onclick="window.open('{{ post.pdf }}', '_blank');">Pdf</button></i>
          {%elsif post.pdf %}
          <i><button class="btn--research" onclick="window.open('{{ post.pdf }}', '_blank');">Pdf</button></i>
          {%elsif post.preprint%}
          <i><button class="btn--research" onclick="window.open('{{ post.preprint }}', '_blank');">Preprint</button></i>
          {% endif %}
          {% if post.code %}
          <i><button class="btn--research" onclick="window.open('{{ post.code }}', '_blank');">Code</button></i>
          {% endif %}
          {% if post.poster %}
          <i><button class="btn--research" onclick="window.open('{{ post.poster }}', '_blank');">Poster</button></i>
          {% endif %}
          {% if post.slides %}
          <i><button class="btn--research" onclick="window.open('{{ post.slides }}', '_blank');">Slides</button></i>
          {% endif %}
          </h6>
          <!-- {% include button.html button_name="My Button" button_class="btn--research" url="http://www.google.com" %} -->          
          </div>
      </p>
  </article>
</div>
