---
import { getEntry } from 'astro:content';
import SocialLinks from '@/components/common/SocialLinks.astro';

const about = await getEntry('about', 'index');
const { socialLinks } = about.data;
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <aside>
    <p class="font-bold text-lg">
      Daniele Zago
    </p>
    <p>Data Scientist & Statistical Researcher</p>
    <p class="text-sm text-base-content/70">
      © {new Date().getFullYear()} - Built with Astro
    </p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <SocialLinks links={socialLinks} size="md" />
    </div>
  </nav>
</footer>
